[class^='topzone-'],
[class*='topzone-'] {
  background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 514px 226px;
}

[class^='iconcmt-'],
[class*='iconcmt-'] {
  background-image: url(//cdn.tgdd.vn/mwgcart/avacomment/images/icon_comment_2x.png?v=2);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 200px 150px;
}

.topzone-logo {
  background-position: 0 0;
  width: 103px;
  height: 35px;
}

.topzone-search {
  background-position: -187px -11px;
  width: 18px;
  height: 18px;
}

.topzone-cart {
  background-position: -239px -11px;
  width: 14px;
  height: 17px;
}

.iconcmt-starbuy {
  background-image: url(//cdn.tgdd.vn/mwgcart/avacomment/images/icon_comment_2x.png?v=2);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 200px 150px;
  background-position: -140px -25px;
  height: 11px;
  width: 12px;
}

.iconcmt-confirm {
  background-position: -64px -59px;
  height: 14px;
  width: 17px;
}

.iconcmt-allstar {
  background-image: url('https://cdn.tgdd.vn/mwgcart/avacomment/images/icon_comment_2x.png?v=2');
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 200px 150px;
  background-position: 0 -75px;
  height: 17px;
  width: 18px;
  margin: 0 4px;
}

.iconcmt-like {
  background-position: -179px -43px;
  height: 15px;
  width: 15px;
}

.topzone-boxtskt {
  background-size: 24px 24px;
  background-position: center top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAAFiUAABYlAUlSJPAAAABFUExURUdwTP///////////////////////////////////////////////////////////////////////////////////////1fUNLcAAAAWdFJOUwCfQD8Qv2Df719vjyB/gE8wUM+vH3CEv/pOAAABMklEQVRIx+2WyxaDIAxEAUFAUVFb/v9TS0FAIL7WbZaeuSaDnIkIgUXJjB4U6YUx5JHa1nRLrUbu1KJvbqhpx7yaNXTfUqoztWEdrQZkkpaHwvzgbMjUo3/6LTzXNsWwH5yO24C49744Jt6mAGymAd0wDQ6MQot/S6ZuATsT9o8QLy0RDNkJLbkFOLq0E1qWwBuys2/Jc0DXdoqWBUBsRwl9h9iyBjDwHdZ0UU6AFrwox8AMqGtAJ6D92nxVN7QA7KnJBEjgShcAUho9A1L9gT/wq4BZ5S3ApSUPYUwuADr7GFmQikmuj4GQlqJ32yumf6cgIKblPkS39LfJr3IgrFXDpnLNhaxzR+CBg0WZUqZdtt7EAl1UD/RksQ/cZJVvFrA0jsy9/wF3bKLaLFc1yYPBP9RfKsV95xMDAAAAAElFTkSuQmCC);
}

.topzone-doitra {
  background-image: url(https://cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
  background-size: 514px 226px;
  background-position: -32px -89px;
}
.topzone-baohanhpolicy {
  background-image: url(https://cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
  background-size: 514px 226px;
  background-position: -63px -89px;
}
.topzone-giaohang {
  background-image: url(https://cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
  background-position: -89px -86px;
  background-size: 514px 226px;
}
.topzone-tongdai {
  background-image: url(https://cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
  background-size: 514px 226px;
  background-position: -119px -86px;
}
.cartnew-empty {
  background-image: url(https://cdn.tgdd.vn/mwgcart/vue-pro/css/img/TZ_Sprite_2x.png);
  background-repeat: no-repeat;
  background-size: 624px 758px;
  width: 108px;
  height: 140px;
  display: block;
  background-position: -51px -2px;
}

.cartnew-choose {
  margin-top: -2px;
  width: 16px;
  height: 16px;
  background-position: -257px -46px;
}
i[class^='cartnew-'] {
  background-image: url(https://cdn.tgdd.vn/mwgcart/vue-pro/css/img/TZ_Sprite_2x.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: 624px 758px;
}

.cartnew-search {
  background-position: -184px -7px;
  width: 18px;
  height: 18px;
  margin: 16px;
}
.ytbclick {
  background-image: url(https://www.topzone.vn/images/topnews/desktop/fi_play-circle.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 90px;
  width: 90px;
  line-height: 40px;
  vertical-align: middle;
  background-size: 100% 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
